<div th:fragment="cover" xmlns:th="http://www.w3.org/1999/xhtml">


    <img class="logo" alt="img not found" th:src="@{classpath:static/images/lct_logo.png}"/>

    <!--    <table>-->
    <!--        <tr>-->
    <!--            <td width="30%"></td>-->
    <!--            <td width="70%">-->
    <!--                <img class="logo" alt="mastercard" th:src="@{classpath:lct_logo.png}"/>-->
    <!--            </td>-->
    <!--        </tr>-->
    <!--        <tr>-->
    <!--            <td width="30%"></td>-->
    <!--            <td width="70%">-->
    <!--                <p class="align-right grey-bold" style="font-size:15px; line-height:0%">-->
    <!--                </p>-->
    <!--            </td>-->
    <!--        </tr>-->
    <!--    </table>-->

    <!--    <p class="text-deep-blue align-right" style="font-size:23px;line-height: 2%;">Strategy Report on-->
    <!--        Research Infrastructures</p>-->
    <!--    <p class="text-deep-blue align-right" style="font-size:60px;  line-height:0%;">ROADMAP <b>2021</b>-->
    <!--    </p>-->
    <!--    <br/>-->
    <!--    <br/>-->
    <!--    <br/>-->
    <!--    <br/>-->

    <!--    <p class="align-right" style="font-size:23px;line-height: 50%;">Proposal Questionnaire-->
    <!--        2-->
    <!--    </p>-->

    <br/>
    <br/>
    <br/>
    <br/>

    <p th:utext=" 'Submitted on ' + ${#dates.format(date, 'dd MMM yyyy')}" class="grey align-right" style="font-size:23px; line-height: 50%;  ">

    </p>

    <div th:if="${workflow == 'resourceDriven'}">
        <p class="grey align-right" style="font-size:13px;  line-height:50%;">
            RESOURCE-DRIVEN CLEARANCE SUBMISSION THROUGH LCT
        </p>
    </div>

    <div th:if="${workflow == 'licenseDriven'}">
        <p class="grey align-right" style="font-size:13px;  line-height:50%;">
            LICENSE-DRIVEN CLEARANCE SUBMISSION THROUGH LCT
        </p>
    </div>

    <br/>


    <div th:if="${user == null}">
        <p class="align-right grey-bold" style="font-size:21px;line-height: 20%;">GUEST USER</p>
    </div>

    <div th:unless="${user == null}">
        <p class="align-right grey-bold" style="font-size:21px;line-height: 20%;">FIRST NAME:</p>
        <p th:text="${user.getFirstName()}" class="grey align-right" style="font-size:21px;"></p>
        <br/>

        <p class="align-right grey-bold" style="font-size:21px;line-height: 20%;">LAST NAME:</p>
        <p th:text="${user.getLastName()}" class="grey align-right" style="font-size:21px;">Nick Papadopoulos</p>
        <br/>


        <p class="align-right grey-bold" style="font-size:21px;line-height: 20%;">EMAIL:</p>
        <p th:text="${user.getEmail()}" class="grey align-right" style="font-size:21px;"> </p>
        <br/>
    </div>

    <br/>

    <div class="footer">
        <img class="footer-img column" width="120" alt="img not found" th:src="@{classpath:static/images/athena.png}"/>
        <img class="footer-img column"  width="80" alt="img not found" th:src="@{classpath:static/images/ni4os.png}"/>
    </div>
</div>
